
/*------- 头部开始 ------*/
html, body {
  height: 100%;
  background-color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.lt {
  max-width: 640px;
  min-width: 320px;
  height: 100%;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
  margin: 0 auto;
}
.lt-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  padding: 0 45px;
  text-align: center;
  background-color: #006699;
}
.lt-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: #006699;
}
.lt-header .hearder-left,
.lt-header .header-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.lt-header a {
  color: #fff;
  display: block;
}
.lt-header .header-right {
  left:auto;
  right: 0;
}
.lt-heade {
  width: 100%;
  height: 100%;
}
.lt-header h3 {
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin: 0;
  font-weight: normal;
}
.lt-footer li {
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  padding-top: 10px;
}
.lt-footer li.current p,
.lt-footer li.current a {
  color: orange;
}
.lt-footer li a {
  display: block;
  color: #fff;
}

.lt-footer li a p {
  color: #fff;
  font-size: 14px;
  margin: 0;
}
.lt-body {
  width: 100%;
  height: 100%;
  position: relative;
}
/*------- 结束 ------*/

/*------- 搜索框 开始 ------*/
.lt-search {
  padding: 10px;
  position: relative;
}
.lt-search input {
  border: 1px solid #007aff;
  border-box: 5px;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
}
.lt-search button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}
/*------- 结束 ------*/

/*------- 商品 开始 ------*/
.lt-product {
  padding: 10px;
}
.lt-product li {
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
.lt-product li:nth-child(odd) {
  margin-right: 4%;
}
.lt-product li a {
  display: block;
  color: #666;
}
.lt-product li .mui-ellipsis-2 {
  height: 40px;
}
.lt-product .price {
  color: red;
}
.lt-product .oldPrice {
  text-decoration: line-through;
}

/*------- 结束 ------*/

.loading {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 3px solid #000;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  animation: rot 2s infinite;
}

/*-- 定义动画/ --*/
@keyframes rot {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg)
  }
}

/*------- 结束 ------*/