

/*------- 历史记录 开始 ------*/
.lt-history {
  padding: 10px;
  font-size: 12px;
}
.history-header {
  height: 30px;
  line-height: 30px;
  color: #666;
}
.history-body ul {
  border: 1px dashed #666;
}
.history-body ul li {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px dashed #666;
}
.history-body ul li:last-child {
  border-bottom: none;
}
.history-body ul li a {
  padding: 0 10px;
}
.btn_delete {
  line-height: 30px;
}
